<!--indexOff: all-->
<header lang={{lang}}>
  <div class="container-fluid">
    <div class="container">
      <div class="header-container__top">
        {{{blocks.image}}}
        <h4 class="block siteName">
          <a href={{aboutCourse.siteUrl}}>{{aboutCourse.siteName}}</a>
        </h4>
        <div id="mobileMenuWrapper">
          <button id="nav-icon" class="navbar-toggler nav-icon" type="button" title="Öppna/stäng mobilmenyn">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </button>
          <nav id="mobileMenu" class="block navbar navbar-expand-lg navbar-light">
            <div id="mobileMenuContent" class="navbar-collapse collapse">
              <ul id="mobileMenuList" class="menu navbar-nav mr-auto"></ul>
            </div>
          </nav>
        </div>
        {{{blocks.secondaryMenu}}}
      </div>
      <div class='header-container__bottom'>{{{blocks.studentMegaMenu}}} {{{blocks.studentSearch}}}</div>
    </div>
  </div>
  <div id="gradientBorder"></div>

  <div class="container articleNavigation">
    <div id="breadcrumbs-header" class="row justify-content-between">
      {{breadcrumbs breadcrumbsList lang}}
    </div>
  </div>
</header>
<!--indexOn: all-->