<script>
  window.__initialState__ = {{{initialState}}}
</script>
{{prefixScript '/static/app.js' 'scripts'}}

{{#if error}}
<p>Error: {{error}}</p>
{{else}}
<div id="kth-kursinfo">{{html}}</div>
{{/if}}