<h1>{{title}}</h1>
{{#if text}}
  <p>{{text}}</p>
{{/if}}

{{#if text1}}
  <p>{{text1}}</p>
  <p>{{text2}}</p>
  <p><a href="{{link1}}">{{linkText1}}</a></p>
  <p><a href="{{link2}}">{{linkText2}}</a></p>
  <p><a href="{{link3}}">{{linkText3}}</a></p>
{{/if}}

<p>({{statusCodeLabel}} {{status}})</p>
{{#if error.stack}}
  <div class="card card-body bg-light">
    <pre>{{error.stack}}</pre>
  </div>
{{/if}}
